$mainColor : #00A1D6;
$secondColor : #f25d8e;
$thirdColor : #01579B;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    min-width: 1080px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
dt,
dd,
p {
    cursor: default;
}

aside {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 2;
}

aside li {
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    background: $mainColor;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

aside a {
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
}

.container {
    position: relative;
    margin: 10px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    width: 1060px;
    overflow: hidden;
    border-radius: 4px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 15px 15px 10000px;
    background: #29B6F6;
    color: #fff;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -10000px;
}

.sidebar a {
    color: #fff;
}

.title {
    margin: 25px 0 20px;
    text-align: center;
}

.title img {
    display: block;
    margin: 0 auto 15px;
    width: 120px;
}

h1 {
    font-size: 28px;
    font-weight: normal;
}

h2 {
    font-size: 14px;
}

.side-info li {
    padding-top: 20px;
}

.side-info dt {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

.side-info dd {
    font-size: 14px;
    line-height: 20px;
}

.side-info i {
    margin-right: 3px;
}

.someRight dd {
    margin-left: 25px;
}

.skill {
    position: relative;
}

.skill-name {
    width: 100px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 25px;
    top: -3px;
}

.skill-bar-wrap {
    height: 17px;
    width: 150px;
    background: $mainColor;
    display: inline-block;
    border-radius: 20px;
}

.skill-bar {
    height: 17px;
    background: #fff;
    border-radius: 20px 0 0 20px;
}

.note {
    text-indent: 2em;
    margin-top: 90px;
    color: $thirdColor;
    font-size: 18px;
}

.main {
    position: relative;
    left: 300px;
    width: 720px;
    padding: 15px 20px 10000px;
    background: #fff;
    margin-bottom: -10000px;
}

.main a {
    color: $secondColor;
}

.main-info > li {
    padding-top: 20px;
}

.main-info dt {
    font-size: 24px;
    color: $mainColor;
    line-height: 30px;
    border-bottom: 1px solid #{$mainColor};
    margin: 0 0 15px -5px;
}

.main-info dd {
    font-size: 15px;
    line-height: 27px;
    color: #616161;

    strong {
        color: #000;
        vertical-align: middle;
        font-size: 16px;        
    }

    span {
        vertical-align: middle;
    }

    a {
        vertical-align: middle;
    }
}

.github-button {
    font-size: 0;
}

iframe {
    margin: 0 10px;
    vertical-align: middle;
}

h3 {
    font-size: 19px;
    color: $thirdColor;
    margin: 0 0 15px 5px;

    img {
        vertical-align: middle;
        height: 30px;
        margin-right: 10px;
    }

    span {
        vertical-align: middle;
    }
}

h4 {
    line-height: 30px;
    font-size: 18px;
    color: #000;
    position: relative;
    bottom: 3px;

    span,
    a {
        vertical-align: middle;
    }
}

h5 {
    clear: both;
    font-size: 16px;
    color: #000;
    line-height: 25px;
}

.fa {
    margin-right: 2px;
}

h4 a,
h5 a {
    font-size: 12px;
    border: 1px solid #{$secondColor};
    padding: 1px 3px;
    border-radius: 5px;
    margin-left: 7px;
}

.circle {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: $mainColor;
    float: left;
    position: absolute;
    left: -28px;
    top: 5px;
}

.exp {
    border-left: 2px solid #{$mainColor};
    margin-left: 15px;
}

.exp p {
    font-size: 15px;
    color: #616161;
    line-height: 23px;
    margin-bottom: 5px;
}

.exp > li {
    position: relative;
    top: -5px;
    margin: 0 0 20px 20px;
}

.exp img {
    max-width: 100%;
}

.exp ul > li {
    margin: 0 0 12px 0;
}

.efe .task4img img {
    height: 97px;
    width: inherit;
}

footer {
    margin: 30px 0 20px;
}

footer p {
    text-align: center;
    color: #616161;
    font-size: 14px;
}

footer a {
    color: $secondColor;
}

.throb {
    -webkit-animation: throb 1.33s ease-in-out infinite;
    animation: throb 1.33s ease-in-out infinite;
}

@-webkit-keyframes throb {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes throb {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}